@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}

/* 화면 전체 렙 */
.wrapper{
	position:absolute;
	top:50%;
	width: 100%;	
	transform : translateY(-60%);
}

/* content 랩 */
.wrap{
	width : 800px;
	margin: auto;
}

/* 페이지 로고 */
.logo_wrap{
	display:flex;
	justify-content: center;
	width:100%;
	margin-bottom: 30px;	
}

.logo_wrap img{
	display:block;
	width:200px;
}


/* 로그인 area */
.input_box{
	display: block;
	margin : auto;	
	width :40%;
	height:20px;
	padding: 5px 10px;
	border: 1px solid #C0C0C0;
}
.id_input{
	width:100%;
	height:100%;
	border:none;
	font-size:13px;
}

.pw_wrap{
	margin-top:10px;
}

.pw_iput{
	width:100%;
	height:100%;
	border:none;
	font-size:13px;
}


.login_button_wrap{
	display:flex;
	justify-content:space-between;
	width:44%;
	height:100px;
	margin: 20px auto 0;
	text-align: center;
}

.login_button_wrap > div{
	float:left;
	width:48%;
    height: 30px;
    margin : 0 auto;
    background-color: #404040;
    font-size: 15px;
    line-height:30px;
    color: white;
}

.login_button_wrap > div:last-child {
	background-color: #C0C0C0;
}

.login_button_wrap > div:last-child a{
	color:#404040;
	text-decoration:none;
}



.login_warn{
	margin-top: 30px;
	text-align: center;
	color: red;
}

/* float 속성 해제 */
.clearfix{
	clear: both;
}
