@charset "UTF-8";

/* footer navi 영역 */
.footer_nav{
    width:100%;
    height:50px;
    border-bottom : 1px solid black;
 }
.footer_nav_container{
    width: 100%;
    height: 100%;
    padding-top:10px;
}
.footer_nav_container>ul{
	display:flex;
	justify-content : center;
	font-size: 14px;
    list-style:none;
    font-family: dotum;
}

.footer_nav_container>ul>li{
    padding:10px;
    cursor: pointer;
}

.footer_nav_container>ul>span{
    margin: 0 4px;
    padding:10px;
}

/* footer 영역 */
.footer{
    width:100%;
    height:180px;
    padding:40px 30px;
    font-size: 14px;
}
.footer_container{
	display: flex;
	justify-content : center;
	align-item: center;
    width: 100%;
    height: 100%;
}
.footer_left{
	float:left;
    width: 120px;
    margin-top:-5px;
    margin-right: 40px;
}
.footer_left>img {
    width: 100%;
}
.footer_right{
	float:left;
	line-height:20px;
}    