@charset "UTF-8";


button {
	border:none;
	outline:none;
	cursor: pointer;
}
/* 제품 목록 네비 */
.navi_bar_area{
	width: 100%;
    height: 30px;
    margin:10px 0;
    overflow: hidden;
}

.dropdown {
  float: left;
  height:100%;
  overflow: hidden;
  text-align:center;
}

.dropdown .dropbtn {
  width:100px;
  height:100%;
  padding-left:10px;
  background:white;
  color: #404040;
  font-size: 15px;
  font-weight: bold;  
  line-height:10px;
  text-align:left;
}

.dropdown-content {
  display:none;
  position: absolute;
  background:white;
  text-align:left;
  z-index: 1;
}


.dropdown-content a {
  color: #C0C0C0;
  padding: 10px;
  font-size:13px;
  display: inline-block;
}



.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content a:hover {
  background-color: #ddd;
  color:black;
}

/* 홈페이지 메인 제품 목록  */
.content_area{
	width: 100%;
    min-height: 1000px;
    margin-top:50px;
}


.slide_div img{
	margin: auto;
}
.slide_div_wrap{
	position:relative;
}
.image_wrap img{
	max-width: 85%;
    height: auto;
    display: block;
	margin: auto;    
}
.main_prev {
	position:absolute;
	top:47%;
	left: 30px;
	font-size:40px;
	background:none;
	color:#c0c0c0;
}
.main_next {
	position:absolute;
	top:47%;
	right: 30px;
	font-size:40px;
	background:none;
	color:#c0c0c0;
}

.slick-dots li button:before {
	font-size:4px;
	line-height:35px;
}

/* #carouselCon {
	position:relative;
	width:100%;
}

.carousel-box{
	width:768px;
	margin:0 auto;
	overflow:hidden;
}
.carousel-inner {
	display:flex;
	width:100%;
	margin:0 auto;
	transform: translateX(0);
	transition: transform 0.2s;
}

.carousel-inner img {
	width:100%;
}


} */

.ls_wrap{
    margin-top:50px;
    padding: 0 10px;
}

.ls_div {
	padding:0 40px;
}
.ls_div_content_wrap {
	padding:0 10px;
}
.ls_div_content{
	margin:0 auto;
	width: 95%;
    height: 275px;
    background:white;	
    border: 1px solid #dadada;
}
.image_wrap{
	width: 80%;
    height: 60%;
    margin: auto;
    padding: 5% 0 5% 0;
    display: flex;
    align-items: center;    
}
.image_wrap img{
	width:100%;
}
.ls_category{
	text-align: center;
    font-size: 13px;
    color: #3e74ab;
}
.ls_rating{
	padding:10px 0;
	text-align: center;
    font-size: 13px;
    color: #e15b6e;
}
.ls_bookName{
	text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.ls_div_subject{
	text-align:center;
	font-weight: bold;
	font-size: 18px;
	padding: 30px 0;
}


.ls_div_content_prev{
    position: absolute;
    top: 45%;
    width: 40px;
    height: 30px;
    left: 0;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}
.ls_div_content_prev:hover{
   opacity: 80%;
}
.ls_div_content_next{
    position: absolute;
    top: 45%;
    width: 40px;
    height: 30px;
    right: 0;
    font-weight: bold;
    z-index: 1;
    opacity: 35%;
}
.ls_div_content_next:hover{
   opacity: 80%;
}


/* float 속성 해제 */
.clearfix{
	clear: both;
}

