@charset "UTF-8";


.table_empty{
		height: 50px;
	    text-align: center;
	    margin: 200px 0 215px 0px;
	    font-size: 25px;
	}
	/* 상품 표 */
	.list_search_result{
		width: 90%;
	    margin: auto;	
	}
	.type_list{
	    width: 100%;
	    border-bottom: 1px solid #e7e7e7;
	    border-collapse: collapse;	
	}
	.type_list tr{
		height:200px;
		border-bottom: 1px solid #e7e7e7;
	}
	.detail div{
		margin-bottom: 5px;
	}
	.category{
		font-size: 12px;
    	font-weight: 600;
	}
	.title{
	    font-size: 20px;
	    color: #3a60df;
	    font-weight: 700;
	}
	.author{
		font-size: 14px;
	}
	.info{
		text-align: center;
	}
	.price{
		text-align: center;
	}
	.org_price del{
		font-size: 13px;
	}
	.sell_price strong{
		color: #da6262;
    	font-size: 18px;
	}
	
		/* 페이지 버튼 인터페이스 */
	.pageMaker_wrap{
		text-align: center;
	    margin-top: 30px;
	    margin-bottom: 40px;
	    user-select:none
	}
	.pageMaker{
	    list-style: none;
	    display: inline-block;
	}	
	.pageMaker_btn {
	    float: left;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    margin-left: 20px;
	}
	.active{
		border : 2px solid black;
		font-weight:400;
	}
	.next, .prev {
	    border: 1px solid #ccc;
	    padding: 0 10px;
	}
	.pageMaker_btn a:link {color: black;}
	.pageMaker_btn a:visited {color: black;}
	.pageMaker_btn a:active {color: black;}
	.pageMaker_btn a:hover {color: black;}
	.next a, .prev a {
	    color: #ccc;
	}
	
	
	.image_wrap {
	    width: 100%;
	    height: 100%;
	}	
	.image_wrap img {
	    max-width: 85%;
	    height: auto;
	    display: block;
	}
	
	.search_filter {
	    width: 90%;
	    margin: 10px auto 0;
	} 
	
	.filter_button_wrap {
	    width: 100%;
	    height:30px;
	}
	
	.filter_button_wrap button {
	    width: 50%;
	    height:100%;
		cursor: pointer;
		float: left;
		color: #A0A0A0;
		background-color: #E0E0E0;
	}


	.filter_button:hover {
    	background-color: white;
    	color: #404040;
		font-weight:900;
	}
	
	.filter_active{
		background-color: white !important; 
		color: #404040 !important;
		font-weight:900;
	}
	
	.filter_content{
		height:40px;
		border-bottom: 1px solid gray;
		text-align:center;
		overflow:hidden;
	}
	
	.filter_content a {
		height:100%;
		padding:10px 20px;
		color:#404040;
		font-size:13px;
		line-height:40px;
		cursor: pointer;
	}
	

	.filter_a{
		display: block;
	}
	
	.filter_b{
		display: none;
	}