@charset "UTF-8";


	*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
	}
	a{
	    text-decoration: none;
	    color:black;
	}
	ul{
	    list-style: none;
	}
	/* 화면 전체 렙 */
	.wrapper{
	    width: 100%;
	}
	/* content 랩 */
	.wrap{
	    width : 100%;
	    margin: 0 auto;
	}
	/* 홈페이지 기능 네비 */ 
	.top_gnb_area{
	    width: 100%;
	    height: 50px;
	    background-color: #f0f0f1;
	    position:relative;
	}
	.top_gnb_area .list{
	    position: absolute;
	    top: 0px;
	    right: 0;
	    
	}
	.top_gnb_area .list li{
	    list-style: none;    
	    float : left;
	    padding: 13px 15px 0 10px;
		font-size:13px;
	    cursor: pointer;
	}
	 
	/* 관리자 페이지 상단 현페이지 정보 */
	.admin_top_wrap{
	    height:110px;
	    margin-bottom:15px;
	    line-height: 110px;
	    background-color: #5080bd;
	}
	.admin_top_wrap>span{
	    margin-left: 30px;
	    display:inline-block;
	    color: white;
	    font-size: 50px;
	    font-weight: bolder;
	}
	/* 관리자 wrap(네비+컨텐츠) */
	.admin_wrap{
	    
	    
	}
	 
	/* 관리자페이지 네비 영역 */
	.admin_navi_wrap{
	    width: 20%;
	    height: 300px;
	    float:left;
	    height: 100%;
	}
	.admin_navi_wrap li{
	    display: block;
	    height: 80px;
	    line-height: 80px;
	    text-align: center;
	}
	.admin_navi_wrap li a{
	    display: block;
	    height: 100%;
	    width: 95%;
	    margin: 0 auto;
	    cursor: pointer;
	    font-size: 30px;
	    font-weight: bolder;
	}
	
	/* 관리자페이지 컨텐츠 영역 */
	.admin_content_wrap{
	    width: 80%;
	    float:left;
	    min-height:700px;
	    
	}
	.admin_content_subject{            /* 관리자 컨텐츠 제목 영역 */
	    font-size: 40px;
	    font-weight: bolder;
	    padding-left: 15px;
	    background-color: #6AAFE6;
	    height: 80px;
	    line-height: 80px;
	    color: white;    
	}
	  
	  
	
	/* footer navi 영역 */
	.footer_nav{
	    width:100%;
	    height:50px;
	    margin-top:100px;
	    border-bottom : 1px solid black;
	 }
	.footer_nav_container{
	    width: 100%;
	    height: 100%;
	    padding-top:10px;
	}
	.footer_nav_container>ul{
		display:flex;
		justify-content : center;
		font-size: 14px;
	    list-style:none;
	    font-family: dotum;
	}
	
	.footer_nav_container>ul>li{
	    padding:10px;
	    cursor: pointer;
	}
	
	.footer_nav_container>ul>span{
	    margin: 0 4px;
	    padding:10px;
	}
	
	/* footer 영역 */
	.footer{
	    width:100%;
	    height:180px;
	    padding:40px 30px;
	    font-size: 14px;
	}
	.footer_container{
		display: flex;
		justify-content : center;
		align-item: center;
	    width: 100%;
	    height: 100%;
	}
	.footer_left{
		float:left;
	    width: 120px;
	    margin-top:-5px;
	    margin-right: 40px;
	}
	.footer_left>img {
	    width: 100%;
	}
	.footer_right{
		float:left;
		line-height:20px;
	}    
	 
	 
	/* float 속성 해제 */
	.clearfix{
	    clear: both;
	}
		 